<form class="p-4 border rounded bg-light">
  <div class="row">
    <div class="mb-3 col-12 col-md-6">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        placeholder="Enter product name"
      />
    </div>

    <div class="mb-3 col-12 col-md-6">
      <label for="productDescription" class="form-label"
        >Product Description</label
      >
      <input
        type="text"
        class="form-control"
        id="productDescription"
        placeholder="Enter product description"
      />
    </div>

    <div class="mb-3 col-12 col-md-6">
      <label for="productImage" class="form-label">Product Image URL</label>
      <input
        type="text"
        class="form-control"
        id="productImage"
        placeholder="Enter image URL"
      />
    </div>

    <div class="mb-3 col-12 col-md-6">
      <label for="productRate" class="form-label">Product Rate</label>
      <input
        type="text"
        class="form-control"
        id="productRate"
        placeholder="Enter product rate"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
